.container {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  max-width: gutter(147);
  margin: 0 auto;

  @include mediaTo(xl) {
    @include cssLock("padding-left", 360, 1920, (gutter_num(3), gutter_num(5)));
    @include cssLock(
      "padding-right",
      360,
      1920,
      (gutter_num(3), gutter_num(5))
    );
  }

  &--fluid {
    @include cssLock("padding-left", 360, 1920, (gutter_num(3), gutter_num(5)));
    @include cssLock(
      "padding-right",
      360,
      1920,
      (gutter_num(3), gutter_num(5))
    );

    width: 100%;
    max-width: 100%;
  }
}
