/* stylelint-disable */
.lg-pick {
  $root: &;

  padding: 0;
  margin: 0;
  max-height: gutter(4);
  background-color: rgba($light, 0.4);
  color: $special;
  overflow: hidden;
  transition: $transition;

  &:hover {
    background-color: $dark;
  }

  &__wrapper,
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: gutter(0.5) gutter(1.2);
    font-size: 25px;

    &:focus {
      outline: 0;
    }
  }
}
